body{
    background-color: #0A182F;
    color: #8992AE;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;

}

/* navigation bar */
.navbar {
    display: flex;
    background-color: #0A182F;
    border-bottom: 2px solid #00ffd5;
    justify-content: right;
    position:fixed;
    width: 100%;
    padding: 20px 10px;
    z-index: 1000;
    transition: background-color 0.5s ease; 
}

.navbar a {
    color: #5fffe4; /* Set text color */
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s ease; /* Add a smooth transition effect */
}

.content {
    margin-top: 80px;
    padding: 20px;
}

.content h1 {
    color: #333; /* Set heading color */
}

/* button -  resume */
.btn41-43 {
    padding: 7px 20px;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position:relative;
    display: inline-block;
}

.btn-42 {
    border: 2px solid #5fffe4;
    z-index: 1;
    border-radius: 5px;
    /* color: white; */
    /* color: rgb(0, 0, 0); */
}

.btn-42:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #5fffe4;
    transition: all 0.3s ease;
    /* color: rgb(255, 0, 0); */
}

.btn-42:hover {
    color: rgb(0, 0, 0);
    
}

.btn-42:hover:after {
    top: 0;
    height: 100%;
    /* color: rgb(0, 0, 0); */
}

.btn-42:active {
    top: 2px;
    /* color: rgb(0, 0, 0); */
}


/* display name and heading */
.content {
    display: flex;
    max-width: 1200px; /* Set a maximum width for the content */
    margin: 0 auto; /* Center the content horizontally */
    font-size: 30px;
}

.text-container {
    flex: 1; /* Take up all available horizontal space */
    padding: 100px;
    /* font-size: 30px; */
}

.text-container h1 {
    color:#CAD5F5; /* Set heading color */
}
#aftername{
    color:#8992AE; /* Set heading color */
}

.photo-container {
    flex: 1; /* Take up all available horizontal space */
    padding: 20px;
}

.photo-container img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain the aspect ratio of the image */
    max-width: 400px; /* Set a maximum width for the image */
    border-radius: 5px; /* Optional: Add border-radius for rounded corners */
}

#intro{
    color: #5fffe4;
    font-size: 20px;
    
}

/* hire me - button */
.bn5 {
    padding: 0.3em 2em;
    border: none;
    outline: none;
    background: #0A182F;
    color: #5fffe4;
    border: 2px solid #5fffe4;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 25px;
}

.bn5:before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
        );
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 300%;
        z-index: -1;
        filter: blur(7px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowingbn5 20s linear infinite;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        border-radius: 10px;
    }
    
    @keyframes glowingbn5 {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 400% 0;
        }
        100% {
            background-position: 0 0;
        }
    }
    
    .bn5:active {
        color: #000;
    }
    
    .bn5:active:after {
        background: transparent;
    }
    
    .bn5:hover:before {
        opacity: 1;
    }
    
    .bn5:after {
        z-index: -1;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #0A182F;
        left: 0;
        top: 0;
        border-radius: 10px;
    }
    
    a{
        text-decoration:none;
        width: auto;
    }
    
    #contact-form{
        /* border: 3px solid #CAD5F5; */
        margin: 20%;
        border-radius: 5px;
        /* width: 50%; */
    }
    
    /* form */
    legend{
        /* color: */
        color: #5fffe4;
    }
    fieldset
    {
        color: #CAD5F5;
    }
    
    /* exprince page */
    /* <style> */

        section {
            max-width: 900px;
            margin: 20px auto;
            padding: 20px;
            /* background-color: #fff; */
            border-radius: 8px;
            /* box-shadow: 0 0 10px rgba(95,255,228, 0.5); */
        }
        .exp-heading1{
            color:#CAD5F5;
            font-size: 30px;
        }
        .exp-heading2{
            color:#CAD5F5;
            /* font-size: 30px; */
        }

        .experience-item {
            /* align-self: center; */
            margin-bottom: 20px;
        }

        .job-title {
            /* font-weight: bold; */
            color: #5fffe4;
        }

        .description {
            margin-top: 10px;
        }
    /* </style> */

#experience{
    margin-top: 10%;
    /* align-items: center; */


}
/* view company website */

.bn32 {
    border-color:#CAD5F5;
    border: 2px solid #5fffe4;
    padding: 0.6em 2.3em;
    cursor: pointer;
    font-size: 1em;
    color: #CAD5F5;
    background-image: linear-gradient(45deg, transparent 50%, #5fffe4 50%);
    background-position: 25%;
    background-size: 400%;
    -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
    transition: background 500ms ease-in-out, color 500ms ease-in-out;
    margin-top: 10px;
}

.bn32:hover {
      border-color:#CAD5F5;
    color: black;
    background-position: 100%;
  }

  /* about page */
  .about-me{
    margin-top: 10%;
  }

.socials{
    padding:10px;
    /* color: #00ffd5; */
    color: white;
}

.socials-div{
    border: 2px solid #CAD5F5;
    /* margin: 0px; */
    /* padding: 10px; */

}
#social-heading{
    font-size: 30px;
    color:#CAD5F5;
    /* width: 100%; */

}

.text-container{
    font-size: 60px;
}

/*  */
.bi-copy{
    margin-left: 10px;
}

/* .image::after{ */
    /* background-color:red; */
    /* -o-border-image: fill; */
    
/* } */

#project-heading{
    font-size: 30px;
    text-align: center;
    color: #00ffd5;
}

.project-details{
    margin-top: 20px;
    /* margin-bottom: ; */
    font-size: 18px;
    text-align: auto;
    color: #CAD5F5;
}

.renwick{
    border: 2px solid #00ffd5;
}

.renwick-button{
    margin-right: 40px;
}